<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>大家要好好学习.</string>
			<key>name</key>
			<string>白益骏</string>
			<key>phoneNumber</key>
			<string>18789477798</string>
			<key>picName</key>
			<string>白益骏.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一个活泼的小不点.</string>
			<key>name</key>
			<string>白蕊</string>
			<key>phoneNumber</key>
			<string>15832516936</string>
			<key>picName</key>
			<string>白蕊.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>If you cannot do great things, do small things in a great way.</string>
			<key>name</key>
			<string>蔡献敏</string>
			<key>phoneNumber</key>
			<string>18518634720</string>
			<key>picName</key>
			<string>蔡献敏.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>德玛西亚!!!!!</string>
			<key>name</key>
			<string>陈星旺</string>
			<key>phoneNumber</key>
			<string>18354226202</string>
			<key>picName</key>
			<string>陈星旺.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>只是有点黑的部落首领而已...</string>
			<key>name</key>
			<string>陈鹏举</string>
			<key>phoneNumber</key>
			<string>18865746263</string>
			<key>picName</key>
			<string>陈鹏举.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>上课睡觉专业户</string>
			<key>name</key>
			<string>陈玉亮</string>
			<key>phoneNumber</key>
			<string>18736165317</string>
			<key>picName</key>
			<string>陈玉亮.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>浮生若梦</string>
			<key>name</key>
			<string>狄博超</string>
			<key>phoneNumber</key>
			<string>13683582485</string>
			<key>picName</key>
			<string>狄博超.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>忠实诚信,讲原则，说到做到，决不推卸责任；有自制力，做事情始终坚持有始有终，从不半途而废；肯学习,有问题不逃避,愿意虚心向他人学习；自信但不自负,不以自我为中心；愿意以谦虚态度赞扬接纳优越者,权威者；会用100%的热情和精力投入到工作中；平易近人。为人诚恳,性格开朗,积极进取,适应力强、勤奋好学、脚踏实地，有较强的团队精神,工作积极进取,态度认真。</string>
			<key>name</key>
			<string>杜新元</string>
			<key>phoneNumber</key>
			<string>18354261086</string>
			<key>picName</key>
			<string>杜新元.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>高富帅,脾气好</string>
			<key>name</key>
			<string>丁岩松</string>
			<key>phoneNumber</key>
			<string>13561215853</string>
			<key>picName</key>
			<string>丁岩松.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>顾小姐是一个非常贤惠的女子,不爱吃饭,特别爱干活,贤妻良母的典范.</string>
			<key>name</key>
			<string>顾利</string>
			<key>phoneNumber</key>
			<string>15001239794</string>
			<key>picName</key>
			<string>顾利.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>思想新潮,富有活力</string>
			<key>name</key>
			<string>郭明旺</string>
			<key>phoneNumber</key>
			<string>15565706162</string>
			<key>picName</key>
			<string>郭明旺.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>(●—●)</string>
			<key>name</key>
			<string>胡春源</string>
			<key>phoneNumber</key>
			<string>18610317624</string>
			<key>picName</key>
			<string>胡春源.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>稳重 成熟 认真 温柔 善解人意。。。 优秀，聪明</string>
			<key>name</key>
			<string>黄玉炎</string>
			<key>phoneNumber</key>
			<string>15110277163</string>
			<key>picName</key>
			<string>黄玉炎.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>我为神代言</string>
			<key>name</key>
			<string>郝鹏达</string>
			<key>phoneNumber</key>
			<string>18511288144</string>
			<key>picName</key>
			<string>郝鹏达.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>帅!!!!!!!!                         呵呵哒</string>
			<key>name</key>
			<string>江晨</string>
			<key>phoneNumber</key>
			<string>18516995030</string>
			<key>picName</key>
			<string>江晨.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>没有缺点的我,自己都害怕!!!</string>
			<key>name</key>
			<string>李万达</string>
			<key>phoneNumber</key>
			<string>18315812790</string>
			<key>picName</key>
			<string>李万达.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>没有优点,我自己都害怕</string>
			<key>name</key>
			<string>李荣建</string>
			<key>phoneNumber</key>
			<string>15011004033</string>
			<key>picName</key>
			<string>李荣建.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>脸太小了,脸太小了! ! !</string>
			<key>name</key>
			<string>李艳华</string>
			<key>phoneNumber</key>
			<string>15235934906</string>
			<key>picName</key>
			<string>李艳华.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>duang duang duang</string>
			<key>name</key>
			<string>李春菲</string>
			<key>phoneNumber</key>
			<string>18610906114</string>
			<key>picName</key>
			<string>李春菲.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>脾气好</string>
			<key>name</key>
			<string>吕玉楠</string>
			<key>phoneNumber</key>
			<string>13718707949</string>
			<key>picName</key>
			<string>吕玉楠.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>风流倜傥,玉树凌风,才高八斗,学富五车</string>
			<key>name</key>
			<string>刘晔琦</string>
			<key>phoneNumber</key>
			<string>13516882554</string>
			<key>picName</key>
			<string>刘晔琦.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一代圣君</string>
			<key>name</key>
			<string>李楠</string>
			<key>phoneNumber</key>
			<string>17710273967</string>
			<key>picName</key>
			<string>李楠.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一个事多的死胖子</string>
			<key>name</key>
			<string>刘静</string>
			<key>phoneNumber</key>
			<string>13522598301</string>
			<key>picName</key>
			<string>刘静.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>说点儿什么好...让我想想...</string>
			<key>name</key>
			<string>李建行</string>
			<key>phoneNumber</key>
			<string>18611909520</string>
			<key>picName</key>
			<string>李建行.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>他也是个孩子..</string>
			<key>name</key>
			<string>李向荣</string>
			<key>phoneNumber</key>
			<string>13465897272</string>
			<key>picName</key>
			<string>李向荣.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>恩,大叔了</string>
			<key>name</key>
			<string>李笃兴</string>
			<key>phoneNumber</key>
			<string>18260026371</string>
			<key>picName</key>
			<string>李笃兴.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>吾之心,天马行空.</string>
			<key>name</key>
			<string>马志威</string>
			<key>phoneNumber</key>
			<string>15097442574</string>
			<key>picName</key>
			<string>马志威.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>帅帅帅帅帅帅帅...</string>
			<key>name</key>
			<string>宁唯</string>
			<key>phoneNumber</key>
			<string>18201233220</string>
			<key>picName</key>
			<string>宁唯.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>一个好人  爱学习 爱生活</string>
			<key>name</key>
			<string>宋静</string>
			<key>phoneNumber</key>
			<string>18697585727</string>
			<key>picName</key>
			<string>宋静.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一个好人</string>
			<key>name</key>
			<string>孙毅</string>
			<key>phoneNumber</key>
			<string>18266181020</string>
			<key>picName</key>
			<string>孙毅.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>永辉超市知道吧,不是他开的.他说以后去超市报他大名,纯属坑爹,有木有.福建的说话贼逗,想让他读文章.</string>
			<key>name</key>
			<string>施永辉</string>
			<key>phoneNumber</key>
			<string>15210219909</string>
			<key>picName</key>
			<string>施永辉.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一个好人!</string>
			<key>name</key>
			<string>孙高杰</string>
			<key>phoneNumber</key>
			<string>17701056939</string>
			<key>picName</key>
			<string>孙高杰.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>有着文人儒雅的风度，内心充满对外界的好奇</string>
			<key>name</key>
			<string>时铁庄</string>
			<key>phoneNumber</key>
			<string>13938505326</string>
			<key>picName</key>
			<string>时铁庄.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>猪。</string>
			<key>name</key>
			<string>宋秋均</string>
			<key>phoneNumber</key>
			<string>18611909620</string>
			<key>picName</key>
			<string>宋秋均.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>喜欢安静,喜欢玩游戏</string>
			<key>name</key>
			<string>佟锡杰</string>
			<key>phoneNumber</key>
			<string>18686840243</string>
			<key>picName</key>
			<string>佟锡杰.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>四肢发达,头脑简单.只会吃和睡.吃饭像孩子,严重需要围一块布;睡觉姿势很霸气.</string>
			<key>name</key>
			<string>王超</string>
			<key>phoneNumber</key>
			<string>15001238042</string>
			<key>picName</key>
			<string>王超.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>66666666屌屌屌屌屌屌屌</string>
			<key>name</key>
			<string>王新国</string>
			<key>phoneNumber</key>
			<string>18810678890</string>
			<key>picName</key>
			<string>王新国.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>踏实肯干.吃苦耐劳.睿智</string>
			<key>name</key>
			<string>吴頔</string>
			<key>phoneNumber</key>
			<string>18730273050</string>
			<key>picName</key>
			<string>吴頔.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>聪明,美丽,刻苦认真!!!</string>
			<key>name</key>
			<string>位丹丹</string>
			<key>phoneNumber</key>
			<string>18224529322</string>
			<key>picName</key>
			<string>位丹丹.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>I just say what you want  say!!!!</string>
			<key>name</key>
			<string>汪磊</string>
			<key>phoneNumber</key>
			<string>18612530361</string>
			<key>picName</key>
			<string>汪磊.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>看起来懂的挺多的.</string>
			<key>name</key>
			<string>王琛</string>
			<key>phoneNumber</key>
			<string>18655319989</string>
			<key>picName</key>
			<string>王琛.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>小萍萍是一个很冷幽默的人</string>
			<key>name</key>
			<string>校付苹</string>
			<key>phoneNumber</key>
			<string>15738772124</string>
			<key>picName</key>
			<string>校付苹.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>happiness in sorrow</string>
			<key>name</key>
			<string>谢培</string>
			<key>phoneNumber</key>
			<string>13718847343</string>
			<key>picName</key>
			<string>谢培.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>英俊潇洒,玉树凌风,人见人爱花见花开</string>
			<key>name</key>
			<string>谢健</string>
			<key>phoneNumber</key>
			<string>18518556610</string>
			<key>picName</key>
			<string>谢健.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>23333333</string>
			<key>name</key>
			<string>夏汝震</string>
			<key>phoneNumber</key>
			<string>13501120689</string>
			<key>picName</key>
			<string>夏汝震.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>听党的话  做党的好娃娃</string>
			<key>name</key>
			<string>姚立军</string>
			<key>phoneNumber</key>
			<string>18161695395</string>
			<key>picName</key>
			<string>姚立军.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>爱学习  爱生活</string>
			<key>name</key>
			<string>于潘洋</string>
			<key>phoneNumber</key>
			<string>15275709076</string>
			<key>picName</key>
			<string>于潘洋.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>做个安静的美女子~~~</string>
			<key>name</key>
			<string>伊秀利</string>
			<key>phoneNumber</key>
			<string>18518634727</string>
			<key>picName</key>
			<string>伊秀利.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>世界上没有一条弯路是白走的。</string>
			<key>name</key>
			<string>杨洋洋</string>
			<key>phoneNumber</key>
			<string>15839997454</string>
			<key>picName</key>
			<string>杨洋洋.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>introduce</key>
			<string>有点懒.....还不错</string>
			<key>name</key>
			<string>张开宇</string>
			<key>phoneNumber</key>
			<string>15231385991</string>
			<key>picName</key>
			<string>张开宇.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>各种犯傻....</string>
			<key>name</key>
			<string>庄媛</string>
			<key>phoneNumber</key>
			<string>18518634755</string>
			<key>picName</key>
			<string>庄媛.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>他只想安安静静的当一个暖大叔,嗯...其实,他是想热热闹闹当一个暖大叔!</string>
			<key>name</key>
			<string>钟勃</string>
			<key>phoneNumber</key>
			<string>13484677661</string>
			<key>picName</key>
			<string>钟勃.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>小磊很理智,并且是一个聪明与智慧并存的女孩子,跟她坐同桌令人很愉快.</string>
			<key>name</key>
			<string>赵小磊</string>
			<key>phoneNumber</key>
			<string>15001237424</string>
			<key>picName</key>
			<string>赵小磊.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一个有内涵的人!</string>
			<key>name</key>
			<string>张莉</string>
			<key>phoneNumber</key>
			<string>15837665271</string>
			<key>picName</key>
			<string>张莉.jpg</string>
			<key>sex</key>
			<string>女</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>帅哥的同桌</string>
			<key>name</key>
			<string>张罡雷</string>
			<key>phoneNumber</key>
			<string>13573465323</string>
			<key>picName</key>
			<string>张罡雷.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>一路走来,跨过山,越过海..</string>
			<key>name</key>
			<string>张涛</string>
			<key>phoneNumber</key>
			<string>13720269552</string>
			<key>picName</key>
			<string>张涛.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>他说他很帅,你们怎么看?</string>
			<key>name</key>
			<string>子超</string>
			<key>phoneNumber</key>
			<string>15011078456</string>
			<key>picName</key>
			<string>马子超.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
		<dict>
			<key>introduce</key>
			<string>张雅鑫,不优雅.</string>
			<key>name</key>
			<string>张雅鑫</string>
			<key>phoneNumber</key>
			<string>15963394364</string>
			<key>picName</key>
			<string>张雅鑫.jpg</string>
			<key>sex</key>
			<string>男</string>
		</dict>
	</array>
</dict>
</plist>
